html,
body,
.container {
  height: 100%;
  margin: 0;
  color: rgb(201, 239, 244);
  background-color: orange;
  font-family: Lobster, cursive;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
}
.max_min_heigth {
  max-height: 100px;
  min-height: 100px;
}
h1,
.header_font {
  font-weight: bold;
  font-size: 3vh;
}
.Header {
  grid-area: 1 / 1 / 2 / 7;

  background-color: rgb(3, 48, 78);
}

.Logo {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(141, 6, 119);
  text-align: center;
  color: rgb(234, 170, 247);
  font-weight: bold;
}
.flex_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Menu {
  grid-area: 1 / 2 / 2 / 5;
  background-color: royalblue;
  text-align: center;
}
.flex_box a,
.flex_box a:visited {
  color: rgb(153, 175, 240);
  text-decoration: none;
  font-weight: bold;
}

.flex_box a:hover {
  color: rgb(3, 48, 78);
}

.Stars {
  grid-area: 1 / 5 / 2 / 6;
  max-height: 100px;
  min-height: 100px;
}

.Contact {
  grid-area: 1 / 6 / 2 / 7;
}
.stars_contacts_box {
  background-color: rgb(3, 48, 78);
  color: rgb(129, 200, 248);
}
.Main {
  grid-area: 2 / 1 / 6 / 7;
  background-color: orange;
}

.Article {
  grid-area: 2 / 1 / 6 / 6;
}
.section {
  background-color: orangered;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Section1 {
  grid-area: 2 / 1 / 3 / 4;
}

.Section2 {
  grid-area: 3 / 1 / 4 / 4;
}

.Section3 {
  grid-area: 4 / 1 / 5 / 4;
}

.Section4 {
  grid-area: 5 / 1 / 6 / 4;
}

.Aside1 {
  grid-area: 2 / 4 / 4 / 6;
  color: black;
}

.Aside2 {
  grid-area: 4 / 4 / 6 / 6;
  color: black;
}

.Aside3 {
  grid-area: 2 / 6 / 6 / 7;
  color: black;
}

.Footer {
  grid-area: 6 / 1 / 7 / 7;
  min-height: 100px;
  max-height: 150px;
  background-color: rgb(6, 124, 51);
  color: white;
}

.Footer_menu {
  grid-area: 6 / 1 / 7 / 4;
  background-color: rgb(5, 75, 32);
}

.Social {
  grid-area: 6 / 4 / 7 / 6;
  background-color: rgb(5, 75, 32);
}

.Copyriting {
  grid-area: 6 / 6 / 7 / 7;
}

@media all and (max-width: 1000px) {
  .flex_box {
    flex-direction: column;
  }
  h1,
  h2,
  h3,
  h4,
  .header_font {
    font-size: 2vh;
  }
  .Stars {
    display: none;
  }
  .Logo {
    grid-area: 1 / 1 / 2 / 3;
  }
  .Menu {
    grid-area: 1 / 3 / 2 / 6;
  }
}
@media all and (max-width: 550px) {
  .Aside3 {
    display: none;
  }
  .Aside1 {
    grid-area: 2 / 4 / 4 / 7;
  }

  .Aside2 {
    grid-area: 4 / 4 / 6 / 7;
  }
}
@media all and (max-width: 400px) {
  h1,
  h2,
  h3,
  h4,
  .header_font {
    font-size: 1.5vh;
  }
}
